# Student Performance Dataset
#### Name: Kalyani Khandait

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv("Student-perfor.csv")

In [ ]:
df.head()

,Timestamp,Email Address,Name of student,"Roll Number (e.g. A101, B202)",Division,Age,Gender,Study time in hrs,FE pointer(e.g. 7.9),SE pointer(e.g. 7.9),number of subject failed in,current backlogs,Additional courses opted,number of paper published,intership opted,10th marks in percentage,12th marks in percentage,10th and 12th university/board
0,1/18/2022 14:34:30,nikita.khairnar19@pccoepune.org,Nikita Vijay Khairnar,B213,B,20,F,3,9.20,9.95,0,0,NaN,NaN,YES,93.6,82.31,STATE
1,1/18/2022 14:34:31,krishnankit.dixit19@pccoepune.org,Krishnankit Dixit,TECOA143,A,21,M,5,9.36,9.41,0,0,"Web development, Python, Data structures and a...",0,YES,89,83,STATE
2,1/18/2022 14:34:38,karthi.dhanasekaran19@pccoepune.org,Karthi Dhanasekaran,B275,B,21,M,2,8.45,9.45,0,0,AI/ML,1,YES,82.8,84.6,CBSE
3,1/18/2022 14:34:44,shreyash.patil19@pccoepune.org,Shreyash patil,B264,B,21,M,0.7,8.50,9.20,0,0,"Python, c, c++",1,NO,89,79,STATE
4,1/18/2022 14:34:54,hitesh.kotecha19@pccoepune.org,Hitesh Kotecha,B220,B,20,M,4,8.40,8.70,0,0,0,0,YES,88,74,STATE

In [ ]:
df.shape

(122, 18)

In [ ]:
df.columns

Index(['Timestamp', 'Email Address', 'Name of student',
       'Roll Number (e.g. A101, B202)', 'Division', 'Age', 'Gender ',
       'Study time in hrs', 'FE pointer(e.g. 7.9)', 'SE pointer(e.g. 7.9)',
       'number of subject failed in', 'current backlogs',
       'Additional courses opted', 'number of paper published',
       ' intership opted', '10th marks in percentage',
       '12th marks in percentage', '10th and 12th university/board'],
      dtype='object')

In [ ]:
df.dtypes

Timestamp                          object
Email Address                      object
Name of student                    object
Roll Number (e.g. A101, B202)      object
Division                           object
Age                                 int64
Gender                             object
Study time in hrs                  object
FE pointer(e.g. 7.9)              float64
SE pointer(e.g. 7.9)              float64
number of subject failed in        object
current backlogs                   object
Additional courses opted           object
number of paper published          object
 intership opted                   object
10th marks in percentage           object
12th marks in percentage           object
10th and 12th university/board     object
dtype: object

In [ ]:
df['SE pointer(e.g. 7.9)'].values

array([ 9.95,  9.41,  9.45,  9.2 ,  8.7 ,  9.61,  9.5 ,  9.86,  9.82,
        9.5 ,  9.75,  9.52,  9.6 ,  9.9 ,  9.75,  9.64,  9.95,  9.73,
        9.5 ,  7.8 ,  9.6 ,  9.6 ,  9.8 ,  9.48,  8.25,  9.66,  9.59,
        9.65,  9.59,  9.1 ,  9.3 ,  9.34,  9.9 ,  8.6 ,  8.2 ,  8.27,
        8.68,  9.36,  9.2 ,  9.32,  7.96,  9.86,  9.55,  9.5 ,  9.98,
        9.57, 10.  ,  9.59,  9.4 ,  9.93,  9.8 ,  9.2 ,  9.36,  9.4 ,
        9.91,  9.7 ,  9.6 ,  9.41,  9.5 ,  9.73,  9.25,  8.8 ,  9.32,
        9.68,  9.25,  9.16,  9.68,  8.61,  9.82,  9.4 ,  9.32,  9.77,
        9.57,  9.48,  9.8 ,  9.45,  9.91,  9.5 ,  9.68,  9.16,  9.  ,
        9.7 ,  9.7 ,  9.45,  9.  ,  6.2 ,  9.57,  9.57,  9.75,  8.31,
        9.32,  8.7 ,  9.75,  9.45,  9.75,  9.45,  9.43,  9.7 ,  9.64,
        8.98,  9.8 ,  8.68,  9.7 ,  8.82,  9.1 ,  8.91,  9.1 ,  9.68,
        9.57,  8.2 ,  9.41,  9.48,  9.2 ,  9.8 ,  7.8 ,  8.9 ,  9.7 ,
        9.7 ,  9.59,  9.95,  9.8 ,  9.25])

In [ ]:
df['FE pointer(e.g. 7.9)'].values

array([9.2 , 9.36, 8.45, 8.5 , 8.4 , 8.34, 7.  ,  nan, 9.  , 7.66, 9.16,
       8.89, 8.5 , 9.1 ,  nan, 8.7 , 9.18, 9.02, 7.9 , 6.8 , 7.5 , 8.2 ,
       8.4 , 7.98, 8.15, 8.61, 8.82, 8.8 ,  nan, 7.5 , 7.2 , 8.61, 9.1 ,
       7.48, 7.  , 7.05, 7.3 ,  nan, 7.5 ,  nan, 0.  , 8.5 , 8.9 , 8.7 ,
       9.8 , 8.5 , 9.39, 7.44, 7.9 , 9.2 , 7.4 , 6.6 , 8.33, 8.5 , 9.32,
       8.82, 9.1 , 7.91, 7.5 , 9.36, 8.84, 8.5 , 7.18, 9.41, 7.41, 8.05,
       8.6 , 8.27, 8.02, 6.57, 8.39, 9.  , 8.15, 7.9 , 8.2 , 7.7 , 9.44,
        nan, 8.25, 7.64, 7.05, 8.6 , 8.9 , 7.11, 7.  , 6.3 ,  nan, 8.95,
       9.  , 8.27, 7.5 , 7.5 ,  nan, 8.07, 9.09, 6.8 , 9.27, 8.84, 8.75,
        nan, 9.5 , 6.8 , 7.82, 7.59,  nan, 7.61, 8.8 , 9.02, 8.2 , 7.5 ,
       7.9 , 8.3 , 6.3 , 8.4 , 7.8 , 7.2 , 8.05, 8.7 , 7.89, 9.82, 8.5 ,
       6.4 ])

In [ ]:
df['FE pointer(e.g. 7.9)'].values[65]

8.05

In [ ]:
df

,Timestamp,Email Address,Name of student,"Roll Number (e.g. A101, B202)",Division,Age,Gender,Study time in hrs,FE pointer(e.g. 7.9),SE pointer(e.g. 7.9),number of subject failed in,current backlogs,Additional courses opted,number of paper published,intership opted,10th marks in percentage,12th marks in percentage,10th and 12th university/board
0,1/18/2022 14:34:30,nikita.khairnar19@pccoepune.org,Nikita Vijay Khairnar,B213,B,20,F,3,9.20,9.95,0,0,NaN,NaN,YES,93.6,82.31,STATE
1,1/18/2022 14:34:31,krishnankit.dixit19@pccoepune.org,Krishnankit Dixit,TECOA143,A,21,M,5,9.36,9.41,0,0,"Web development, Python, Data structures and a...",0,YES,89,83,STATE
2,1/18/2022 14:34:38,karthi.dhanasekaran19@pccoepune.org,Karthi Dhanasekaran,B275,B,21,M,2,8.45,9.45,0,0,AI/ML,1,YES,82.8,84.6,CBSE
3,1/18/2022 14:34:44,shreyash.patil19@pccoepune.org,Shreyash patil,B264,B,21,M,0.7,8.50,9.20,0,0,"Python, c, c++",1,NO,89,79,STATE
4,1/18/2022 14:34:54,hitesh.kotecha19@pccoepune.org,Hitesh Kotecha,B220,B,20,M,4,8.40,8.70,0,0,0,0,YES,88,74,STATE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,1/18/2022 14:44:58,apoorva.datir19@pccoepune.org,Apoorva Datir,TECOA134,A,19,F,6,8.70,9.70,0,0,5,0,YES,98,89,STATE
118,1/18/2022 14:45:58,sangram.more19@pccoepune.org,Sangram More,B238,B,20,M,1,7.89,9.59,0,0,0,0,NO,81,80.31,CBSE
119,1/18/2022 14:48:11,palak.gupta19@pccoepune.org,Palak Gupta,TECOA162,A,20,F,3,9.82,9.95,0,0,NaN,NaN,YES,98.2,87.23,STATE
120,1/18/2022 14:52:34,vedant.chaudhari19@pccoepune.org,Vedant Chaudhari,A124,A,20,M,NaN,8.50,9.80,NaN,NaN,1,NaN,YES,96,86,CBSE
121,1/18/2022 15:09:04,prajwal.bhargade19@pccoepune.org,Prajwal Ganesh Bhargade,A116,A,21,M,7,6.40,9.25,1,0,no,no,NO,85,67,STATE

In [ ]:
df.tail()

,Timestamp,Email Address,Name of student,"Roll Number (e.g. A101, B202)",Division,Age,Gender,Study time in hrs,FE pointer(e.g. 7.9),SE pointer(e.g. 7.9),number of subject failed in,current backlogs,Additional courses opted,number of paper published,intership opted,10th marks in percentage,12th marks in percentage,10th and 12th university/board
117,1/18/2022 14:44:58,apoorva.datir19@pccoepune.org,Apoorva Datir,TECOA134,A,19,F,6,8.70,9.70,0,0,5,0,YES,98,89,STATE
118,1/18/2022 14:45:58,sangram.more19@pccoepune.org,Sangram More,B238,B,20,M,1,7.89,9.59,0,0,0,0,NO,81,80.31,CBSE
119,1/18/2022 14:48:11,palak.gupta19@pccoepune.org,Palak Gupta,TECOA162,A,20,F,3,9.82,9.95,0,0,NaN,NaN,YES,98.2,87.23,STATE
120,1/18/2022 14:52:34,vedant.chaudhari19@pccoepune.org,Vedant Chaudhari,A124,A,20,M,NaN,8.50,9.80,NaN,NaN,1,NaN,YES,96,86,CBSE
121,1/18/2022 15:09:04,prajwal.bhargade19@pccoepune.org,Prajwal Ganesh Bhargade,A116,A,21,M,7,6.40,9.25,1,0,no,no,NO,85,67,STATE

In [ ]:
df.loc[112]

Timestamp                                 1/18/2022 14:43:49
Email Address                     kunal.mote19@pccoepune.org
Name of student                                  Kunal Mote
Roll Number (e.g. A101, B202)                           B239
Division                                                   B
Age                                                       20
Gender                                                     M
Study time in hrs                                        NaN
FE pointer(e.g. 7.9)                                     6.3
SE pointer(e.g. 7.9)                                     9.2
number of subject failed in                                0
current backlogs                                           0
Additional courses opted                   Machine learning
number of paper published                                  1
 intership opted                                         YES
10th marks in percentage                                  87
12th marks in percentage                                  60
10th and 12th university/board                         STATE
Name: 112, dtype: object

In [ ]:
df.columns

Index(['Timestamp', 'Email Address', 'Name of student',
       'Roll Number (e.g. A101, B202)', 'Division', 'Age', 'Gender ',
       'Study time in hrs', 'FE pointer(e.g. 7.9)', 'SE pointer(e.g. 7.9)',
       'number of subject failed in', 'current backlogs',
       'Additional courses opted', 'number of paper published',
       ' intership opted', '10th marks in percentage',
       '12th marks in percentage', '10th and 12th university/board'],
      dtype='object')

In [ ]:
df['FE pointer(e.g. 7.9)'].value_counts()

8.50    7
7.50    7
7.90    4
6.80    3
8.40    3
       ..
8.30    1
8.07    1
9.50    1
9.18    1
0.00    1
Name: FE pointer(e.g. 7.9), Length: 68, dtype: int64

In [ ]:
df.describe()

              Age  FE pointer(e.g. 7.9)  SE pointer(e.g. 7.9)
count  122.000000            112.000000            122.000000
mean    20.221311              8.126339              9.366803
std      0.582277              1.132027              0.553019
min     19.000000              0.000000              6.200000
25%     20.000000              7.500000              9.212500
50%     20.000000              8.285000              9.500000
75%     21.000000              8.840000              9.700000
max     22.000000              9.820000             10.000000

In [ ]:
df.isnull().sum()

Timestamp                          0
Email Address                      0
Name of student                    0
Roll Number (e.g. A101, B202)      0
Division                           0
Age                                0
Gender                             0
Study time in hrs                  6
FE pointer(e.g. 7.9)              10
SE pointer(e.g. 7.9)               0
number of subject failed in        3
current backlogs                   4
Additional courses opted          11
number of paper published          9
 intership opted                   1
10th marks in percentage           0
12th marks in percentage           2
10th and 12th university/board     0
dtype: int64

In [ ]:
df.isnull().head(20)

,Timestamp,Email Address,Name of student,"Roll Number (e.g. A101, B202)",Division,Age,Gender,Study time in hrs,FE pointer(e.g. 7.9),SE pointer(e.g. 7.9),number of subject failed in,current backlogs,Additional courses opted,number of paper published,intership opted,10th marks in percentage,12th marks in percentage,10th and 12th university/board
0,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,True,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
bank['balance'] = bank['balance'].apply(lambda v: (v-bank['balance'].min())/(bank['balance'].max()-bank['balance'].min()))